<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My first vue App</title>
</head>
<body>
    <div id="main">
        <h1>TODO List</h1>
        <input type="text" v-model="newTodo" v-on:keyup.enter="addTodo">
        <button v-on:click="addTodo">Add TODO</button>
        <hr>
        <h3>Created</h3>
        <ul>
            <li v-for="item in showCreated">
                {{item.title}}
            </li>
        </ul>
        <hr>
        <h3>In progress</h3>
        <ul>
            <li v-for="item in showInProgress">
                {{item.title}}
            </li>
        </ul>
        <hr>
        <h3>Completed</h3>
        <ul>
            <li v-for="item in showFinished">
                {{item.title}}
            </li>
        </ul>
        <hr>
        <h3>Error</h3>
        <ul>
            <li v-for="item in showError">
                {{item.title}}
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="lists.js"></script>
</body>
</html>